$black: #000;
$white: #fff;

$blue: #0073ff;
$gray: rgba(0, 0, 0, 0.5);
$lgray: #dee2e6;
$red: red;

$pink: #faeded;

$defaultColor: #000;


$defaultFont: 'Roboto';
$titleFont: 'Roboto';
$imgPath: "../images";
